// Light color palette
:root {
  --bgColor: #8d99ae;
  --txtColor: #fff;
  --screenColor: #fff;
  --seatColor: #edf2f4;
  --selectedSeatColor: #2b2d42;
  --occupiedSeatColor: #d90429;
}
//Dark color palette
@media (prefers-color-scheme: dark) {
  :root {
    --bgColor: #2b2d42;
    --txtColor: #fff;
    --screenColor: #fff;
    --seatColor: #8d99ae;
    --selectedSeatColor: #edf2f4;
    --occupiedSeatColor: #d90429;
  }
}
//Breakpoints
$tablet: 768px;
$desktop: 1024px;

// Styles
.app {
  background-color: var(--bgColor);
  color: var(--txtColor);
  font-family: "Lato", sans-serif;
}
.app-header {
  display: flex;
  gap: 1rem;
  &__heading {
    font-size: 16px;
    letter-spacing: 0.1rem;
  }
  &__label {
    visibility: hidden;
  }
}
.main-header {
  position: absolute;
  &__heading {
    font-size: 12px;
    font-weight: 300;
  }
}
.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
